* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* CSS Variables */


/* Navigation Bar */
#navbar {
    top: 0px;
    background-color: #392467 ;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 105px;
    width: 100%;
}



/* Navigation Bar: Logo and Image */
#logo {
    margin:2px;
    text-align: center;
}

#logo img {
  text-align: center;
    height: 59px;
    border-radius: 30px;
   
 
}




/* Navigation Bar: List Styling */

#navbar ul {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Bree Serif', serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: #f9e6ff;
    display: block;
    padding: 3px 30px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color:  #392467;
    background-color: white;
    /* text-decoration: underline; */
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 658px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url('./../Images/homepage-img/mobile-2562332_1280.jpg') no-repeat center center/cover;
    height: 664px;
    top: 106px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    color: #392467;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
}

#home p {
    color: #392467;
    text-align: center;
    font-size: 1.77rem;
    font-family: 'Bree Serif', serif;
}

.btn {
    border-radius: 27px;
    padding: 8px 20px;
    border: 2px solid #6c4141;
    background-color: #A367B1;
    color: white;
    margin: 25px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    cursor: pointer
}

.btn:hover {
    color: white;
    background-color: #372828;

}

.center {
    text-align: center;
}

/*Phone covers*/
#phone-covers {
 
    height: 500px;
    margin-top: 128px;
   
}

.mobilecovers-heading {
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

.phone-covers-show-more-btn {
    background-color: #372828;
    color: white;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    margin: 20px;
   

}

.container-holder {
    background-color: white;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Bree Serif', serif;
}

.mobile-cover-container {
    color: black;
    height: 450px;
    width: 320px;
    margin: 5px;
    padding: 10px;
    background-color: #f9e6ff;
    font-size: 15px;
}

.mobile-cover-imgs {
    display: block;
    border-radius: 5px;
    width: 320px;
    height: 300px;
}


.mobile-cover-imgs-title {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.covers-price {
    text-align: center;
    font-size: 18px;
}

.button {
    width: 200px;
    background-color: #392467;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-left: 50px;
    margin-bottom: 300px;
    text-decoration: none;

}

.button:hover {
    background-color: #372828;
    color: #eac6d4;
    border-radius: 30px;
}