* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


#navbar{
    display: flex;
    align-items: center;
    position: sticky; 
    top: 0px;
    background-color: #392467;
    color:white ;
}



/* Navigation Bar: Logo and Image */

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}



/* Navigation Bar: List Styling */

#navbar ul {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Bree Serif', serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 30px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color:#372828;
    background-color:white;
    /* text-decoration: underline; */
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 466px;
    justify-content: center;
    align-items: center;
    margin-top: 210px;

}

#home::before {
    content: "";
    position: absolute;
    background: url('./../Images/homepage-img/32.webp') no-repeat center center/cover;
    height: 664px;
    top: 106px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    color: #392467;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
}

#home p {
    color: #392467;
    text-align: center;
    font-size: 1.77rem;
    font-family: 'Bree Serif', serif;
}

.btn {
    border-radius: 27px;
    padding: 8px 20px;
    border: 2px solid #6c4141;
    background-color: #A367B1;
    color: white;
    margin: 25px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    cursor: pointer
}

.btn:hover {
    color: white;
    background-color: #372828;

}

.center {
    text-align: center;
}


/* New Section */
.firstSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 146px;
}

.leftSection{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 149px 0;
    background-color: darkblue;
}

.rightSection{
    background-color: #372828;

}


.rightSection img{
    width: 80%;
    margin: 229px 69px;
    border-radius: 19px;
}


/*Phone covers*/
#phone-covers {
 
    height: 500px;
    margin-top: 128px;
   
}

.mobilecovers-heading {
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

.phone-covers-show-more-btn {
    background-color: #372828;
    color: white;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    margin: 20px;
   

}

.container-holder {
    background-color: white;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Bree Serif', serif;
}

.mobile-cover-container {
    color: black;
    height: 450px;
    width: 320px;
    margin: 5px;
    padding: 10px;
    background-color: #f9e6ff;
    font-size: 15px;
}

.mobile-cover-imgs {
    display: block;
    border-radius: 5px;
    width: 320px;
    height: 300px;
}


.mobile-cover-imgs-title {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.covers-price {
    text-align: center;
    font-size: 18px;
}

.button {
    width: 200px;
    background-color: #392467;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-left: 50px;
    margin-bottom: 300px;
    text-decoration: none;

}

.button:hover {
    background-color: #372828;
    color: #eac6d4;
    border-radius: 30px;
}

















/* Footer */


a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: tomato;
}

.footer {
    background-color: #392467;
    width: 1520px;
    padding: 5px;
    margin-top: 114px;
    bottom: 0%;
    border-radius: 10px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}




.footer-text {
    font-size: 24px;
}


.footer1 {
    width: 150px;
}

.social {
    display: none;
}

.footer-text {
    font-size: 24px;
}





.social {
    display: none;
}


.footer-text {
    font-size: 30px;

    color: #f3f8ff;

}

.footer-detail {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.social {
    padding: 10px;
}

.text {
    color: #f3f8ff;
    cursor: pointer;


}

.subtitle {
    cursor: pointer;
    color: white;
    text-decoration: none;

}

.logos {
    color: white;
    cursor: pointer;

    display: inline-block;
    margin-left: 10px;
    padding: 20px;


    transition: transform 0.2s;
}



.right-box {
    margin-left: 20px;
}

.center-box {
    margin-left: 20px;
}

.mail-img {
    margin-right: 10px;

}



@media (max-width: 600px) {

    .footer {
        background-color: #392467;
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
        height: 1000px;
    }

    .main-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 10px;
        padding: 5px;

    }

    .footer1 {
        width: 100%;
    }

    .footer-text {
        font-size: 30px;
        color: white;
        margin-right: ;
    }

    .footer-detail {
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    .social {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .text {
        color: white;
        cursor: pointer;
    }

    .subtitle {
        cursor: pointer;
        color: white;
    }

    .logos {
        color: white;
        cursor: pointer;
        display: inline;
        margin-left: 10px;
        padding: 20px;
    }

    .right-box {
        margin-right: 200px;

    }

    .center-box {
        margin-right: 350px;
    }

    .mail-img {
        margin-right: 40px;

    }

    .email {
        text-decoration: none;
    }


}
